.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.checkout div {
    width: 100%;
    margin-bottom: 1rem;
}

.checkout button {
    margin: 0 auto;
    width: 9rem;
    height: 2rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.checkout button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .checkout {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        min-height: 50rem;
    }

    .checkout div {
        flex: 1 1 calc(50% - 1rem);
        margin-bottom: 1rem;
    }
}
