img{
    width: 10rem;
    height: 10rem;
}

.card{
    margin: 1rem;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 20rem;
    border: solid black 3px;
}
.card h3{
    font-size: 1.3rem;
    text-decoration: underline;
}
.card title{
    display: flex;
    object-fit: cover;
    justify-content: space-between;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    }